<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>商城后台管理</title>
    <meta name="keywords"  content="设置关键词..." />
    <meta name="description" content="设置描述..." />
    <meta name="author" content="DeathGhost" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="icon" href="images/icon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="javascript/jquery.js"></script>
    <script src="javascript/plug-ins/customScrollbar.min.js"></script>
    <script src="javascript/plug-ins/echarts.min.js"></script>
    <script src="javascript/plug-ins/layerUi/layer.js"></script>
    <script src="editor/ueditor.config.js"></script>
    <script src="editor/ueditor.all.js"></script>
    <script src="javascript/plug-ins/pagination.js"></script>
    <script src="javascript/public.js"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>商城后台管理</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="index.html" class="InitialPage"><i class="icon-dashboard"></i>首页</a>
            </h2>
            <ul>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-columns"></i>商品管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="queryGoods.html">新增商品</a>
                        </dd>
                        <dd>
                            <a href="flow-layout.html">查询库存</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-inbox"></i>订单管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="button.html">查询订单</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>用户管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="table.html">查询用户</a>
                        </dd>
                    </dl>
                </li>
                <!--				<li>
                                    <dl>
                                        <dt>
                                            <i class="icon-list-alt"></i>表单UI<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="form.html">表单结构样式</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-external-link"></i>弹出窗口<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="popups.html">基础弹出层</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-bar-chart"></i>百度统计echarts图表<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="echarts.html">echarts统计图表</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-font"></i>文本编辑器<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="ueditor.html">百度UEDITOR编辑器</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-road"></i>进度条<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="progress.html">progress进度条兼容</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-tags"></i>Tab选项卡<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="tab.html">Tab选项卡</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-filter"></i>下拉菜单<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="button-dropdown.html">按钮式下拉菜单</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-sitemap"></i>页面分组标题<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="title.html">页面标题</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-columns"></i>分页<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="paging.html">jquery分页效果</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-spinner"></i>旋转动画<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="animation.html">刷新加载动画</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-fighter-jet"></i>面包屑导航<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="breadcrumb.html">面包屑</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-laptop"></i>文本面板<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="text-panel.html">文本面板</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-leaf"></i>块引用<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="blockquote.html">块引用</a>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl>
                                        <dt>
                                            <i class="icon-star"></i>第三方弹窗组件<i class="icon-angle-right"></i>
                                        </dt>
                                        <dd>
                                            <a href="layer.html">web弹层组件</a>
                                        </dd>
                                    </dl>
                                </li>-->
            </ul>
        </nav>


        <footer class="side-footer">© DeathGhost 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a href="#" target="_blank"><i class="icon-home"></i>前台访问</a>
                    </li>
                    <li>
                        <a><i class="icon-random"></i>清除缓存</a>
                    </li>
                    <li>
                        <a><i class="icon-user"></i>管理员:<em>DeathGhost</em></a>
                    </li>
                    <li>
                        <a><i class="icon-bell-alt"></i>系统消息</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <!--开始::内容-->
                <section class="page-hd">
                    <header>
                        <h2 class="title">新增商品</h2>
                        <p class="title-description">
                            填写新商品信息
                        </p>
                    </header>

                </section>

                <div class="form-group-col-2">
                    <div class="form-label">商品名称：</div>
                    <div class="form-cont">
                        <input type="text" placeholder="请输入商品名称..." class="form-control form-boxed" id="name"/>
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label">商品数量：</div>
                    <div class="form-cont">
                        <input type="text" placeholder="请输入商品数量..." class="form-control form-boxed" id="num"/>
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label">上传图片：</div>
                    <div class="form-cont">
                        <!--<form action="upload" name="uploadForm" method="post" enctype="multipart/form-data">-->
                        <form id="uploadForm">
                            <input type="file" name="file" class="form-control form-boxed" style="width:300px;" id="image"/>
                            <button class="btn btn-primary" type="button" id="upload">上传</button>
                            <!--<iframe name="uploadFrame" id="uploadFrame" style="display: block"></iframe>-->
                        </form>

                        <!--<span class="word-aux"><i class="icon-warning-sign"></i>请上传图片</span>-->
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label">价格：</div>
                    <div class="form-cont">
                        <input type="email" placeholder="请输入价格..." class="form-control form-boxed" id="price"/>
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label">商品分类：</div>
                    <div class="form-cont">
                        <select style="width:auto;">
                            <option>弦乐类</option>
                            <option>木管类</option>
                            <option>铜管类</option>
                            <option>打击乐类</option>
                        </select>
<!--                        <select style="width:auto;">
                            <option>XXX</option>
                            <option>YYY</option>
                            <option>ZZZ</option>
                        </select>-->
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label">商品描述：</div>
                    <div class="form-cont">
                        <textarea class="form-control form-boxed" id="description">摘要信息</textarea>
                    </div>
                </div>
                <div class="form-group-col-2">
                    <div class="form-label"></div>
                    <div class="form-cont">

                            <button type="submit" class="btn btn-primary" value="提交商品信息" id="submit">
                                提交商品信息
                            </button>

                            <!--<input type="reset" class="btn btn-disabled" value="禁止" />-->
                    </div>
                </div>
                <!--开始::结束-->
            </div>
        </main>
        <footer class="btm-ft">
            <p class="clear">
                <span class="fl">©Copyright 2016 <a href="#" title="DeathGhost" target="_blank">DeathGhost.cn</a></span>
                <span class="fr text-info">
					<em class="uppercase">
						<i class="icon-user"></i>
						author:deathghost
					</em> |
					<em class="uppercase"><i class="icon-envelope-alt"></i>
						更多模板： <a href="http://www.mycodes.net/" target="_blank">源码之家</a>
					</em>
					<a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>捐赠</a>
				</span>
            </p>
        </footer>
    </div>
</div>
</body>
<script type="text/javascript">
//    //上传图片
//    $("#upload").click(function () {
//        if ($.browser.msie){
//            window.uploadForm.submit();
//        }else {
//            $("#uploadForm").submit();
//        }
//    });

$("#upload").click(function () {
//    var formData = new FormData();
//    formData.append("file",$("#image")[0].files[0]);
    var formData = new FormData($("#uploadForm")[0]);
    console.log($("#uploadForm")[0])
    $.ajax({
        type:"post",
        url:"upload",
        data:formData,
        cache:false,
        async: false,
        processData : false,
        contentType : false,
        dataType:"text",
        success : function(data){
            console.log(data);
            if (data){
                //上传成功
                layer.alert("图片上传成功");
            }else {
                //图片上传失败，请重新上传
                layer.alert("图片上传失败，请重新上传");
            }
        }
    });
})

    //新增商品
    $("#submit").click(function () {
        var info = {};
        info.uid = sessionStorage.getItem("uid");
        info.name = $("#name").val();
        info.num = $("#num").val();
        info.price = $("#price").val();
        info.image = $("#image").val();
        info.description = $("#description").val();
        console.log(info);
        $.ajax({
            type:"POST",
            url:"add_goods",
            dataType:"json",
            headers:{"Content-Type":"application/json;charset=utf-8"},
            data:JSON.stringify(info),
            success:function (data) {
                if(data){
                    layer.msg("新增商品成功");
                    setTimeout(function () {
                        window.location.reload();
                    },1000);
                }else{
                    layer.alert("新增商品失败");
                }
            }
        })
    })

</script>
</html>
